@charset "UTF-8";
.nav-item{
	color: #ffff;
}
.message{
	margin-top: 40px;
}
body {
	background-image: url("../img/bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	
}
.mess{
	margin-top: 40px;
}
.null{
	font-style: oblique;
}
@media screen and (max-width: 1500px) {
  
}
@media (max-width: 767.98px) {

}

@media only screen and (max-width: 768px) {
 /*For mobile phones: */
[class*="col-"] {
    width: 100%;
}


}
@media (min-width: 768px){
.col-md-6 {

    max-width: 100%;

}
body {
		min-height: 100% ;
	}
}



}



